/* fonts */
<<<<<<< HEAD
@font-face {
    font-family: Raleway;
    font-display: fullback;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Black;
    font-display: fullback;
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: Roboto;
    font-display: fullback;
    src: url(../fonts/Roboto-Regular.ttf);
}

/* spicify */

:root {
    --main-yellow: rgba(255, 229, 0, 1);
    --second-yellow: rgba(255, 181, 0, 1);
=======
@font-face{
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: Raleway-Black;
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
/* spicify */

:root{
    --main-yellow:rgba(255,229,0,1);
    --second-yellow:rgba(255,181,0,1);
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    --main-blue: #232438;
    --second-blue: #3f4281;
    --main-gradient: linear-gradient(45deg, var(--main-yellow) 0%, var(--second-yellow) 50%, var(--main-yellow) 100%);
    overflow-x: hidden;
}
<<<<<<< HEAD

::selection {
    background-color: var(--main-yellow);
    color: var(--main-blue);
}

* {
    scroll-behavior: smooth;
}

body {
=======
::selection{
    background-color: var(--main-yellow);
    color: var(--main-blue);
}
*{
    scroll-behavior: smooth;
}
body{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin: 0;
    background-color: var(--main-blue) !important;
    color: #fff !important;
    overflow-x: hidden;
    /* background-color: #0b0d36; */
}
<<<<<<< HEAD

main {
    position: relative;
    background-color: var(--main-blue) !important;
    padding-bottom: 100px;
    /* margin-bottom: 500px; */
    z-index: 2;
}

section {
    position: relative !important;
}

img {
    user-select: none;
}

p {
    display: block;
    margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
    width: 100%;
}

h1 {
    font-family: Raleway !important;
    font-weight: 700 !important;
}

h2 {
=======
main{
    position: relative;
    background-color: var(--main-blue) !important;
    padding-bottom: 150px;
    /* margin-bottom: 500px; */
    z-index: 2;
}
section{
    position: relative !important;
}
img{
    user-select: none;
}
p{
    display: block;
    margin: 0 !important;
}
h1,h2,h3,h4,h5{
    width: 100%;
}
h1{
    font-family: Raleway !important;
    font-weight: 700 !important;
}
h2{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
}
<<<<<<< HEAD

ul {
=======
ul{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    list-style: none;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

ul>li {
    margin: 0;
    padding: 0;
}

button {
    width: 200px;
    height: 50px;
    /* font-size: 20px; */
    outline: none;
=======
ul>li{
    margin: 0;
    padding: 0;
}
button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    outline:none;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    color: #fff;
    position: relative;
    white-space: nowrap;
}
<<<<<<< HEAD

a.outline_btn {
=======
a.outline_btn{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 200px;
    height: 50px;
    /* font-size: 20px; */
    display: inline-block;
    text-align: center;
    outline: none;
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    color: #fff;
    position: relative;
    white-space: nowrap;
}
<<<<<<< HEAD

a.outline_btn:before {
=======
a.outline_btn:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    background-color: var(--main-yellow);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    transition: 0.3s;
    transform: scale(0);
    z-index: -1;
}
<<<<<<< HEAD

a.outline_btn:hover {
=======
a.outline_btn:hover{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    text-decoration: none;
    outline: none;
    color: var(--main-blue);
    font-weight: 600;
}
<<<<<<< HEAD

a.outline_btn:hover:before {
    transform: scale(1);
}

button:hover {
=======
a.outline_btn:hover:before{
    transform: scale(1);
}
button:hover{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    /* transform: translateY(-5px); */
    color: var(--main-blue);
    font-weight: 600;

}
<<<<<<< HEAD

button:before {
=======
button:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    background-color: var(--main-yellow);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    transition: 0.3s;
    transform: scale(0);
    z-index: -1;
}
<<<<<<< HEAD

button:hover:before {
    transform: scale(1);
}

input:not([type='checkbox']),
textarea {
    padding: 10px;
    width: 100%;
}

input[type='checkbox'] {
    position: relative;
    visibility: hidden;
}

input[type='checkbox']::before {
=======
button:hover:before{
    transform: scale(1);
}
input:not([type='checkbox']),textarea{
    padding: 10px;
    width: 100%;
}
input[type='checkbox']{
    position: relative;
    visibility: hidden;
}
input[type='checkbox']::before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-size: cover;
    visibility: visible;
}
<<<<<<< HEAD

input[type='checkbox']:checked::before {
    background-image: url(../img/confirm_black.svg);
}

nav {
    z-index: 1090;
}

button:active,
button:focus {
    outline: none !important;
}

header {
    position: relative;
    z-index: 1030;
}

section>.container {
=======
input[type='checkbox']:checked::before{
    background-image: url(../img/confirm_black.svg);
}

nav{
    z-index: 1090;
}
button:active,button:focus{
    outline: none !important;
}
header{
    position: relative;
    z-index: 1030;
}
section > .container{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    /* height: 100%; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid green; */
}
<<<<<<< HEAD

hr {
    background-color: #fff;
}

.monitor {
    height: 40px;
=======
hr{
    background-color: #fff;
}
.monitor{
    height:40px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    align-self: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
<<<<<<< HEAD

.lines {
    margin: 0 auto;
    position: relative;
}

.lines:before {
=======
.lines{
    margin: 0 auto;
    position: relative;
}
.lines:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 200px;
    border-top: 1.5px #fff solid;
    border-bottom: 1.5px #fff solid;
<<<<<<< HEAD
    left: -230px;
    top: 20px;
    clip-path: polygon(0 25%, 35% 25%, 35% 0, 100% 0, 100% 100%, 0 100%);
}

.lines:after {
=======
    left:-230px;
    top:20px;
    clip-path: polygon(0 25%,35% 25%,35% 0,100% 0, 100% 100%,0 100%);
}
.lines:after{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 200px;
    border-top: 1.5px #fff solid;
    border-bottom: 1.5px #fff solid;
<<<<<<< HEAD
    right: -230px;
    top: 20px;
    clip-path: polygon(0 0, 65% 0, 65% 25%, 100% 25%, 100% 100%, 0 100%);
}

/* preloader */

.preloader {
=======
    right:-230px;
    top:20px;
    clip-path: polygon(0 0, 65% 0,65% 25%,100% 25%,100% 100%,0 100%);
}
/* preloader */

.preloader{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    filter: contrast(10);
    /* opacity: 0; */
}
<<<<<<< HEAD

.preloader_body {
    height: 100vh;
    overflow-y: hidden;
}

.preloader_icon {
    font-size: 50px;
}

.preloader_icon {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 100px;
    font-family: 'Raleway-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0;
    color: black;
    z-index: 999;
    --placholder-color: white text-shadow: 4px 4px 120px var(--placholder-color),
        -4px -4px 120px var(--placholder-color),
        -4px 4px 120px var(--placholder-color), ,
        4px -4px 120px var(--placholder-color),
    ;
}

@keyframes anim {
    0% {
        opacity: 0;
        filter: blur(50px)
    }

    10% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        filter: blur(2px)
    }
}

.A {
    filter: blur(2px);
    animation: anim 2s infinite alternate-reverse;
    animation-delay: 1s;

}

.B {
    opacity: 0;
    filter: blur(50px);
    animation: anim 2s infinite alternate;
    animation-delay: 1s;

}
=======
.preloader_body{
    height: 100vh;
    overflow-y: hidden;
}
.preloader_icon{
    font-size: 50px;
}
.preloader_icon{
width: 100%;
text-align: center;
position: absolute;
font-size: 100px;
font-family: 'Raleway-Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
margin: 0;
color: black;
z-index: 999;
--placholder-color:white;
text-shadow:
4px 4px 120px  var(--placholder-color),
-4px -4px 120px  var(--placholder-color),
-4px 4px 120px  var(--placholder-color),,
4px -4px 120px  var(--placholder-color),
;
}
@keyframes anim {
    0% { opacity: 0; filter: blur(50px)}
    10% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1; filter: blur(2px)}
    }
    .A{
        filter: blur(2px);
        animation: anim 2s infinite alternate-reverse;
        animation-delay: 1s;

    }
    .B{
        opacity: 0; filter: blur(50px);
        animation: anim 2s infinite alternate;
        animation-delay: 1s;

    }
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f



/* header */
<<<<<<< HEAD
.navbar_social img {
=======
.navbar_social img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 25px;
    margin: 0;
    filter: invert();
    transition: 0.2s;
}
<<<<<<< HEAD

.navbar_social a {
=======
.navbar_social a{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 40px !important;
    height: 40px !important;
    /* margin-right: 30px; */
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    transition: 0.2s;
    position: relative;
}
<<<<<<< HEAD

.navbar_social a:before {
=======
.navbar_social a:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    transform: scaleY(0);
    z-index: -1;
    transition: 0.2s;
}
<<<<<<< HEAD

.navbar_social a:hover:before {
    transform: scaleY(1);
}

.navbar_social a:nth-child(2) {
    position: relative;
    bottom: 2.5px;
}

.navbar_social a:nth-child(2) img {
    margin-top: 2.5px;
    height: 20px;
}

.navbar_social a:nth-child(3) img {
    margin-right: -2px;
}

.navbar_social a:hover img {
    filter: none;
}

.navbar_social {
    margin-left: calc(20px + 1rem);
}

.navbar_numbers {
=======
.navbar_social a:hover:before{
    transform: scaleY(1);
}
.navbar_social a:nth-child(2){
    position: relative;
    bottom: 2.5px;
}
.navbar_social a:nth-child(2) img{
    margin-top: 2.5px;
    height: 20px;
}
.navbar_social a:nth-child(3) img{
    margin-right: -2px;
}
.navbar_social a:hover img{
    filter: none ;
}
.navbar_social{
    margin-left: calc(20px + 1rem);
}
.navbar_numbers{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
<<<<<<< HEAD

.navbar_numbers p {
    margin-bottom: 7px !important;
}

.navbar_numbers a {
    color: white;
    font-weight: 300;
}

.navbar_numbers a:hover {
    color: white;
}

.number_phone {
=======
.navbar_numbers p{
    margin-bottom: 7px !important;
}
.navbar_numbers a{
    color: white;
    font-weight: 300;
}
.navbar_numbers a:hover{
    color: white;
}
.number_phone{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 25px;
    padding-right: 25px;
}

<<<<<<< HEAD
.nav-link {
=======
.nav-link{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
<<<<<<< HEAD

.text-main {
=======
.text-main{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-family: 'Raleway-Black' !important;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}
<<<<<<< HEAD

.course_text_main {
    white-space: nowrap;
}

.brand-name {
    color: yellow;
}

.blop {
=======
.course_text_main{
    white-space: nowrap;
}
.brand-name{
    color: yellow;
}
.blop{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    right: 0;
    top: 0;
}
<<<<<<< HEAD

.course_blop {
    height: 580px;
    right: -50px;
}

.course_blop#blop5 {
    top: -200px;
}

.course_blop#blop3 {
    right: 550px;
}

.laptop_girl {
=======
.course_blop{
    height: 580px;
    right: -50px;
}
.course_blop#blop5{
    top: -200px;
}
.course_blop#blop3{
    right: 550px;
}
.laptop_girl{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 400px;
    position: absolute;
    top: 190px;
    right: 110px;
}
<<<<<<< HEAD

.oblako {
=======
.oblako{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 350px;
    position: absolute;
    top: 280px;
    right: 65px;
}
<<<<<<< HEAD

.brauser {
=======
.brauser{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 380px;
    position: absolute;
    top: 185px;
    right: 180px;
}
<<<<<<< HEAD

.laptop_girl.girl2 {
    width: 300px;
    top: 240px;
    right: 110px;
}

.grass {
    position: absolute;
    top: 460px;
    right: 0;
}

.header_text {
=======
.laptop_girl.girl2{
    width: 300px;
    top:240px;
    right: 110px;
}
.grass{
    position: absolute;
    top:460px;
    right: 0;
}
.header_text{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    padding: 70px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
<<<<<<< HEAD

.header_list {
    margin-top: 43px;
=======
.header_list{
    margin-top:43px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
<<<<<<< HEAD

.header_icon {
=======
.header_icon{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
}
<<<<<<< HEAD

.btn_block {
    margin-top: 35px;
}

.call {
    background: linear-gradient(#fffc00 -20%, #d4b432 50%, #fffc00 120%);
    border-radius: 50px;
    transition: 0.2s;
}

.outline_btn {
=======
.btn_block{
    margin-top: 35px;
}
.call{
    background:linear-gradient(#fffc00 -20%,#d4b432 50%,#fffc00 120%);
    border-radius: 50px;
    transition: 0.2s;
}
.outline_btn{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    border: solid 1px yellow;
    border-radius: 50px;
    transition: 0.2s;
}
<<<<<<< HEAD

.outline_btn:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

@keyframes brr {
    25% {
        transform: translate(5px, -5px);
        /* background-color: #fff; */
    }

    75% {
        transform: translate(-5px, 5px);
=======
.outline_btn:hover{
    background-color: rgba(255, 255, 0, 0.5);
}

@keyframes brr{
    25% {
        transform: translate(5px,-5px) ;
        /* background-color: #fff; */
    }
    75% {
        transform: translate(-5px,5px) ;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        /* background-color: red; */
    }
}


<<<<<<< HEAD
.navbar-nav {
    /* margin-right: 160px; */
}

.nav-link {
=======
.navbar-nav{
    margin-right: 160px;
}
.nav-link{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: #fff !important;
    font-size: 15px;
    opacity: 1;
    position: relative;
    transition: 0.2s;
<<<<<<< HEAD
    text-shadow: 2px 2px 5px #444;

}

.nav-link:before {
=======

}
.nav-link:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    background: var(--second-blue);
    position: absolute;
    transform: scaleY(0);
    /* width: 0; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
    border-radius: 20px;
}
<<<<<<< HEAD

.nav-link:hover::before {
=======
.nav-link:hover::before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    /* width: 100%; */
    transform: scaleY(1);



}
<<<<<<< HEAD

.navbar-brand img {
    height: 100px;
}

.navbar-toggler {
    width: 60px;
    border: none !important;
    outline: none !important;
}

.navbar-toggler:hover {
    transform: none;
}

.particles {
    position: absolute;
    top: 0;
=======
.navbar-brand img{
    height: 100px;
}
.navbar-toggler{
    width: 60px;
    border:none !important;
    outline: none !important;
}
.navbar-toggler:hover{
    transform: none;
}
.particles{
    position: absolute;
    top:0;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    left: 0;
    width: 100vw;
    height: 0;
    height: calc(100% - 40px);
    z-index: 1020;
    /* border:solid; */
}
<<<<<<< HEAD

.plus {
=======
.plus{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    width: 7px;
    height: 25px;
    background-color: var(--main-blue);
<<<<<<< HEAD
    transform: rotate(45deg);
    transition: 0;
    z-index: 1090;
}

.plus:hover {
    transform: none;
}

.plus:before {
    position: absolute;
    content: '';
=======
    transform:rotate(45deg);
    transition: 0;
    z-index: 1090;
}
.plus:hover{
    transform: none;
}
.plus:before{
    position: absolute;
    content:'';
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    display: block;
    width: 7px;
    height: 25px;
    background-color: var(--main-blue);
<<<<<<< HEAD
    transform: rotate(90deg);
}

#plus1 {
    right: 500px;
    top: 120px;
}

#plus2 {
    right: 240px;
    top: 210px;
    transform: rotate(45deg) scale(0.8);
}

#plus3 {
    right: 280px;
    top: 430px;
    transform: scale(0.8);
}

#plus4 {
    right: 470px;
    top: 350px;
    transform: rotate(45deg) scale(0.6);
}

#plus5 {
    right: 620px;
    top: 535px;
    transform: scale(0.7);
}

#plus6 {
    right: 580px;
    top: 50px;
    transform: rotate(45deg) scale(0.5);
}

#blop1,
#blop2,
#blop3,
#blop4,
#blop5 {
=======
    transform:rotate(90deg);
}
#plus1{
    right: 500px;
    top: 120px;
}
#plus2{
    right: 240px;
    top: 210px;
    transform:rotate(45deg) scale(0.8);
}
#plus3{
    right: 280px;
    top:430px;
    transform: scale(0.8);
}
#plus4{
    right: 470px;
    top: 350px;
    transform:rotate(45deg) scale(0.6);
}
#plus5{
    right: 620px;
    top: 535px;
    transform:scale(0.7);
}
#plus6{
    right: 580px;
    top:50px;
    transform:rotate(45deg) scale(0.5);
}
#blop1,#blop2,#blop3,#blop4,#blop5{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 100px;
    position: absolute;
    user-select: none;

}
<<<<<<< HEAD

#blop1 {
=======
#blop1{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 120px;
    right: 500px;
    top: 460px;
}
<<<<<<< HEAD

#blop2 {
    right: 525px;
    top: 80px;
}

#blop3 {
    height: 120px;
    right: 200px;
    top: 500px;
    clip: rect(auto, auto, 79px, auto);
}

#blop4 {
    left: -40px;
    top: 320px;
}

#blop5 {
    height: 300px;
    right: -150px;
    top: -30px
=======
#blop2{
    right: 525px;
    top:80px;
}
#blop3{
    height: 120px;
    right: 200px;
    top:500px;
    clip: rect(auto,auto,79px,auto);
}
#blop4{
    left: -40px;
    top:320px;
}
#blop5{
    height: 300px;
    right:-150px;
    top:-30px
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
}

/* for who section */

<<<<<<< HEAD
.for_who_block {
=======
.for_who_block{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-top-left-radius: 15px;
    padding-left: 40px;
    padding-top: 50px;
}

<<<<<<< HEAD
.for_who_heading {
    text-transform: none;
=======
.for_who_heading{
    text-transform:none;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    left: -40px;
    margin: calc(-0.65em - 50px) auto calc(-0.45em + 50px);
    text-align: center;
    overflow: hidden;
    background-color: var(--main-blue);
    width: max-content;
    margin-left: calc(auto -700px);
    padding: 0 40px 0;
}
<<<<<<< HEAD

.quot {
=======
.quot{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    top: -30px;
    right: 0;
    height: 55px;
    background-color: var(--main-blue);
    padding-left: 15px;
}
<<<<<<< HEAD

.text-orange {
    color: var(--second-yellow);
}

.for_who_item {
    margin-bottom: 15px;
}

.for_who_item:before {
    content: '–';
=======
.text-orange{
    color:var(--second-yellow);
}
.for_who_item{
    margin-bottom: 15px;
}
.for_who_item:before{
    content:'–';
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-right: 0.5em;
}

/* second section */
<<<<<<< HEAD
.progs {
    padding-bottom: 25px;
}

.course {
=======
.progs{
    padding-bottom: 25px;
}
.course{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: 50px;
    width: fit-content;
    height: 370px;
}
<<<<<<< HEAD

.course_heading {
    text-align: center;
}

.course_card {
=======
.course_heading{
    text-align: center;
}
.course_card{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    background: var(--main-gradient);
    width: 370px;
    height: 255px;
    border-radius: 15px;
    transition: 0.25s;
    transform: translateX(25px) translateY(-25px);
    box-shadow: -5px 5px 50px 1px #333;
    z-index: 2;

}
<<<<<<< HEAD

.course_card:hover {
    box-shadow: 0px 0px 20px 1px #ffa;
}

.progs_catalog_body {
    padding-right: 20px;
}

.course_card_img {
=======
.course_card:hover{
    box-shadow: 0px 0px 20px 1px #ffa;
}
.progs_catalog_body{
    padding-right: 20px;
}
.course_card_img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 200px;
    display: block;
    margin: auto;
}
<<<<<<< HEAD

.course_card_link {
=======
.course_card_link{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: #333 -1px 1px 5px;
    color: #fff;
    display: block;
    width: max-content;
    margin: auto;
}
<<<<<<< HEAD

.course_text {
    position: relative;
    background-color: #fff;
    color: gray;
=======
.course_text{
    position: relative;
    background-color: #fff;
    color:gray;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    overflow: hidden;
    width: 370px;
    height: 370px;
    border-radius: 15px;
    padding: 245px 45px 30px 100px;
    transform: translateX(-20px) translateY(-235px);
    z-index: 1;
    transition: 0.25s;
    box-shadow: -5px 5px 50px 1px #333;
}
<<<<<<< HEAD

.course_text_label {
=======
.course_text_label{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-family: 'Roboto' !important;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
<<<<<<< HEAD
    transition: 0.25s;
    color: #6979b8;
}

.course_text_age {
=======
    transition:0.25s;
    color: #6979b8;
}
.course_text_age{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    margin-bottom: 10px !important;
    font-size: 18px;
}
<<<<<<< HEAD

.course_text_duration {
    position: relative;
    font-size: 18px;
}

.course_text_icon {
=======
.course_text_duration{
    position: relative;
    font-size: 18px;
}
.course_text_icon{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 20px;
    position: absolute;
    left: -50px;
    bottom: 0;
    margin-bottom: 4px;
}
<<<<<<< HEAD

.course_blops {
    position: relative;
}

.course_blop {
    position: absolute;
}

.course_blop.blop2 {
    height: 100px;
    right: -200px;
    top: -350px;
}

.course_blop.planet {
    height: 150px;
    left: -250px;
    top: -200px;
=======
.course_blops{
    position: relative;
}
.course_blop{
    position: absolute;
}
.course_blop.blop2{
    height: 100px;
    right: -200px;
    top:-350px;
}
.course_blop.planet{
    height: 150px;
    left: -250px;
    top:-200px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
}

/* how to block */

<<<<<<< HEAD
@keyframes shuffle2 {
    25% {
        transform: translateX(-105px);
    }

    75% {
        transform: translateX(-95px);
    }

    100% {
=======
@keyframes shuffle2{
    25%{
        transform: translateX(-105px);
    }
    75%{
        transform: translateX(-95px);
    }
    100%{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        transform: translateX(-100px);
    }
}

<<<<<<< HEAD
@keyframes shuffle {
    25% {
        transform: translateX(110px);
    }

    75% {
        transform: translateX(90px);
    }

    100% {
        transform: translateX(100px);
    }
}

.how_to {
    height: auto;
}

.step {
    background: rgb(255, 229, 0);
=======
@keyframes shuffle{
    25%{
        transform: translateX(110px);
    }
   75%{
        transform: translateX(90px);
    }
    100%{
        transform: translateX(100px);
    }
}
.how_to{
    height: auto;
}
.step{
    background: rgb(255,229,0);
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    background: var(--main-gradient);
    width: 185px;
    height: 125px;
    border-radius: 15px;
    transition: 0.25s;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
}
<<<<<<< HEAD

.step:hover .step_boy {
    top: 10px;
    visibility: visible;
}

.step:hover {
    box-shadow: 0px 0px 20px 1px #ffa;
}

.step_boy_block {
=======
.step:hover .step_boy{
    top:10px;
    visibility: visible;
}
.step:hover {
    box-shadow: 0px 0px 20px 1px #ffa;
}
.step_boy_block{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 60px;
    width: 60px;
    position: absolute;
    left: 30%;
<<<<<<< HEAD
    top: -60px;
    overflow: hidden;
}

.step_boy {
    height: 60px;
    position: absolute;
    top: 60px;
    transition: 0.5s;
    visibility: hidden;
}

.step_img {
=======
    top:-60px;
    overflow: hidden;
}
.step_boy{
    height: 60px;
    position: absolute;
    top:60px;
    transition: 0.5s;
    visibility: hidden;
}
.step_img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    display: block;
    margin: 5px auto;
    height: 40px;
}
<<<<<<< HEAD

.step_text {
=======
.step_text{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-shadow: #333 -1px 1px 5px;
}
<<<<<<< HEAD

.step:first-child {
    margin-top: 40px;
}

.step:nth-child(odd)>.step_path {
=======
.step:first-child{
    margin-top: 40px;
}
.step:nth-child(odd) > .step_path{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    border: #fff dashed 5px;
    width: 185px;
    height: 125px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: calc(-50% - 15px);
<<<<<<< HEAD
    clip: rect(auto, auto, 70px, 85px);
}

.step:nth-child(even)>.step_path {
=======
    clip: rect(auto,auto,70px,85px);
}
.step:nth-child(even) > .step_path{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    border: #fff dashed 5px;
    width: 185px;
    height: 125px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: calc(-50% + 25px);
<<<<<<< HEAD
    clip: rect(auto, 65px, 65px, auto);
}

.step:nth-child(even) {
    transform: translateX(100px);
}

.step:nth-child(odd):hover {
    animation: shuffle2 0.5s;
}

.step:nth-child(odd) {
    transform: translateX(-100px);
}

.step:nth-child(even):hover {
    animation: shuffle 0.5s;
}

.step:nth-child(even):hover .path {
    animation: shuffle2 0.5s;
}

.step:nth-child(odd):hover .path {
    animation: shuffle 0.5s;
}

.step_blops {
    position: relative;
}

.step_blop {
    position: absolute;
}

.step_blop.paren {
=======
    clip: rect(auto,65px,65px,auto);
}
.step:nth-child(even){
    transform: translateX(100px);
}
.step:nth-child(odd):hover{
    animation: shuffle2 0.5s;
}
.step:nth-child(odd){
    transform: translateX(-100px);
}
.step:nth-child(even):hover{
    animation: shuffle 0.5s;
}

.step:nth-child(even):hover .path{
    animation: shuffle2 0.5s;
}
.step:nth-child(odd):hover .path{
    animation: shuffle 0.5s;
}
.step_blops{
    position: relative;
}
.step_blop{
    position: absolute;
}
.step_blop.paren{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    bottom: 440px;
    left: -20px;
    height: 300px;
    z-index: -1;
}
<<<<<<< HEAD

.step_blop.girl {
=======
.step_blop.girl{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    bottom: 70px;
    right: -20px;
    height: 320px;
    z-index: -1;
}
<<<<<<< HEAD

.step_blop.planet1 {
=======
.step_blop.planet1{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    bottom: 110px;
    left: 270px;
    height: 170px;
    z-index: -1;
}
<<<<<<< HEAD

.step_blop.planet2 {
=======
.step_blop.planet2{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    bottom: 620px;
    right: 300px;
    height: 90px;
    z-index: -1;
}
<<<<<<< HEAD

/* knowlege */
.knowlege_heading {
    text-align: center;
    margin: 0 auto;
}

.knowlege {
=======
/* knowlege */
.knowlege_heading{
    text-align: center;
    margin: 0 auto;
}
.knowlege{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: 50px;
    width: fit-content;
    height: 370px;
}
<<<<<<< HEAD

.knowlege_heading {
    text-align: center;
}

.knowlege_card {
=======
.knowlege_heading{
    text-align: center;
}
.knowlege_card{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    padding-top: 20px;
    background: var(--main-gradient);
    width: 310px;
    height: 205px;
    border-radius: 15px;
    transition: 0.25s;
    transform: translateX(15px) translateY(-25px);
    box-shadow: -5px 5px 50px 1px #333;
    z-index: 2;
}
<<<<<<< HEAD

.knowlege_card:hover {
    box-shadow: 0px 0px 20px 1px #ffa;
}

.knowlege_card_img {
=======
.knowlege_card:hover{
    box-shadow: 0px 0px 20px 1px #ffa;
}
.knowlege_card_img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin: 0 auto;
    height: 150px;
    display: block;
}
<<<<<<< HEAD

.knowlege_card_link {
=======
.knowlege_card_link{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: #333 -1px 1px 5px;
    color: #fff;
    display: block;
    width: max-content;
    margin: auto;
}
<<<<<<< HEAD

.knowlege_text {
    position: relative;
    background-color: #fff;
    color: gray;
=======
.knowlege_text{
    position: relative;
    background-color: #fff;
    color:gray;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    overflow: hidden;
    width: 310px;
    height: 310px;
    border-radius: 15px;
    padding: 140px 45px 30px 45px;
    transform: translateX(-10px) translateY(-140px);
    z-index: 1;
    transition: 0.25s;
    box-shadow: -5px 5px 50px 1px #333;

}
<<<<<<< HEAD

.knowlege_text_label {
    font-size: 16px;
    transition: 0.25s;
    color: var(--second-blue);
}

.duration_time {
=======
.knowlege_text_label{
    font-size: 16px;
    transition:0.25s;
}
.duration_time{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: red;
    font-size: 25px;
    font-weight: 600;
}
<<<<<<< HEAD

.duration_money {
=======
.duration_money{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: green;
    font-size: 25px;
    font-weight: 600;
}
<<<<<<< HEAD

.duration_img {
    height: 20px;
    margin-right: 10px;
}

.duration_money .duration_img {
=======
.duration_img{
    height: 20px;
    margin-right: 10px;
}
.duration_money .duration_img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-left: 10px;
}


<<<<<<< HEAD
.course_knowlege .knowlege {
    height: 545px;
}

.course_knowlege .knowlege_text {
    height: 470px;
    width: 340px;
}

.course_knowlege .knowlege_card {
    width: 340px;

}

.course_knowlege .knowlege_text_label {
=======
.course_knowlege .knowlege{
    height: 545px;
}
.course_knowlege .knowlege_text{
    height: 470px;
    width: 340px;
}
.course_knowlege .knowlege_card{
    width: 340px;

}
.course_knowlege .knowlege_text_label{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: var(--second-blue);
    font-size: 25px;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 15px;
}
<<<<<<< HEAD

.course_knowlege .knowlege_course_item {
=======
.course_knowlege .knowlege_course_item{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}
<<<<<<< HEAD

.course_knowlege .knowlege_course_item:before {
    content: '-';
    margin-right: 10px;
}

/* petrushka */
.petruska {
    height: 180px;
    background: linear-gradient(180deg, var(--main-blue), #3d2769, #3d2769);
    position: relative;
    overflow: hidden;
}

#cnv {
    /* background-color: #fff; */
    position: absolute;
    bottom: 0;
    margin-bottom: -6px;
}

.paralax {
=======
.course_knowlege .knowlege_course_item:before{
    content: '-';
    margin-right: 10px;
}
/* petrushka */
.petruska{
    height: 180px;
    background:linear-gradient(180deg, var(--main-blue), #3d2769,#3d2769);
    position: relative;
    overflow: hidden;
}
#cnv{
    /* background-color: #fff; */
    position: absolute;
    bottom:0;
    margin-bottom: -6px;
}

.paralax{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: sticky !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    border: solid;
    z-index: 1;
    padding-top: 200px;
}

/* contacts */

<<<<<<< HEAD
.contacts input,
.contacts textarea {
    color: var(--main-yellow);
}

.contacts input:focus,
.contacts textarea:focus {
    outline: none;
    border: 1px solid white;
}

.contacts_heading {
=======
.contacts input,.contacts textarea{
    color:var(--main-yellow);
}
.contacts input:focus,.contacts textarea:focus{
    outline: none;
    border: 1px solid white;
}
.contacts_heading{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: #dbdbdb;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 700;
}
<<<<<<< HEAD

.contacts_text {
=======
.contacts_text{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: #d8b62e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
<<<<<<< HEAD

.comment {
=======
.comment{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: relative;
    width: 100%;
    height: max-content;

    overflow: hidden;

}
<<<<<<< HEAD

.send {
=======
.send{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    background-color: #d6b530;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 31px;
    right: 0;
<<<<<<< HEAD
    transition: 0.5s;
    transform-origin: right bottom;
}

.send:hover {
    transform: scale(1.1)
}

.send_icon {
    height: calc(100% - 12px);
}

input,
textarea {
    background-color: transparent;
    border: 1px solid rgb(184, 184, 184, .7);
    margin-bottom: 25px !important;
}

input:not([type='checkbox']) {
    height: 41px;
}

textarea {
    height: 182px;
}

.perc_right {
    display: flex;
}

.perc_right_label {
=======
    transition:0.5s;
    transform-origin: right bottom;
}
.send:hover{
    transform: scale(1.1)

}
.send_icon{
    height: calc(100% - 12px);
}

input,textarea{
    background-color: transparent;
    border: 1px solid rgb(184,184,184,.7);
    margin-bottom: 25px !important;
}
input:not([type='checkbox']){
    height: 41px;
}
textarea{
    height: 182px;
}
.perc_right{
    display: flex;
}
.perc_right_label{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-left: 20px;
    user-select: none;
    font-size: 14px;
}
<<<<<<< HEAD

.perc_right input {
    margin-top: 20px;
}

label {
    margin-left: 10px;
    margin-bottom: 5px !important;
}

#cnv2 {
=======
.perc_right input{
    margin-top: 20px;
}
label{
    margin-left: 10px;
    margin-bottom: 5px !important;
}
#cnv2{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    left: -40px;
    top: -25px;
    z-index: -1;
    /* background-color: #fff; */
}
<<<<<<< HEAD

.col-6 .contacts_text {
    font-size: 19px;
}

.contacts_nlo {
    height: 100px;
    position: absolute;
    top: -30px;
    left: 200px;
    ;
}

/* modal */

.modal_form {
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.3);
    /* filter: ; */
    top: 0;
=======
.col-6 .contacts_text{
    font-size: 19px;
}
.contacts_nlo{
    height: 100px;
    position: absolute;
    top: -30px;
    left: 200px;;
}
/* modal */

.modal_form{
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.3);
    /* filter: ; */
    top:0;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1090;
}
<<<<<<< HEAD

.form_modal {
=======
.form_modal{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    width: 400px;
    height: 600px;
    padding: 10px 30px 20px 30px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: black 0 0 100px 20px;
}
<<<<<<< HEAD

.form_modal_logo {
=======
.form_modal_logo{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 75px;
    width: 75px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
<<<<<<< HEAD

.form_modal_logo img {
=======
.form_modal_logo img{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    height: 100px;
    left: -13px;
    top: -11px;
}
<<<<<<< HEAD

.form_modal_heading {
    color: black;
=======
.form_modal_heading{
    color:black;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
<<<<<<< HEAD

.form_modal_input {
=======
.form_modal_input{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 50px !important;
    border-radius: 50px;
    border-color: #bbb;
    margin-bottom: 0px !important;
    padding-left: 15px !important;
}
<<<<<<< HEAD

.form_modal_input:focus {
    outline: none;
    border-color: var(--second-yellow);
}

.form_modal_copyright {
=======
.form_modal_input:focus{
    outline: none;
    border-color: var(--second-yellow);
}
.form_modal_copyright{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    display: flex;
    margin: 15px 0;
    /* border: solid black; */
}
<<<<<<< HEAD

.from_modal_confirm * {
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
    /* height: auto; */
}

.from_modal_confirm input:first-of-type {
    margin: 7px 15px 12px 0 !important;
}

.from_modal_confirm input:last-of-type {
    margin-right: 15px !important;
}

.form_modal_copyright .copyright {
    width: 200px;
    margin-right: 25px;
    line-height: 20px;
}

.form_modal_btn {
=======
.from_modal_confirm *{
    display: inline;
    margin: 0 !important;
    padding:0 !important;
    /* height: auto; */
}
.from_modal_confirm input:first-of-type{
    margin: 7px 15px 12px 0!important;
}
.from_modal_confirm input:last-of-type{
    margin-right: 15px !important;
}
.form_modal_copyright .copyright{
    width: 200px;
    margin-right: 25px;
    line-height:20px;
}
.form_modal_btn{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    background-color: var(--second-yellow);
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 15px;
}
<<<<<<< HEAD

.form_modal_input::placeholder {
    color: #aaa
}

.form_modal_label {
    color: #000;
    margin-left: 15px;
}

.copyright_checkbox {
    margin-left: 15px;
}

#persRight {
=======
.form_modal_input::placeholder{
    color:#aaa
}
.form_modal_label{
    color: #000;
    margin-left: 15px;
}
.copyright_checkbox{
    margin-left: 15px;
}
#persRight{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    visibility: hidden;
    position: relative;
    bottom: 10px;
}
<<<<<<< HEAD

#persRight::before {
    visibility: visible;
    border-color: var(--second-yellow);
}

#persRight:checked:before {
=======
#persRight::before{
    visibility: visible;
    border-color: var(--second-yellow);
}
#persRight:checked:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    background-image: url(../img/confirm.svg) !important;
}

/* footer */

<<<<<<< HEAD
footer img {
    height: 70px;
}

.footer_headings {
=======
footer img{
    height: 70px;
}
.footer_headings{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: var(--second-yellow);
    font-weight: 600;
    font-family: 'Roboto';
    margin-bottom: 15px !important;
}
<<<<<<< HEAD

footer .about li {
=======
footer .about li{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-bottom: 5px;
    font-weight: 600;
    color: cornflowerblue
}
<<<<<<< HEAD

footer .about li a {
    color: var(--second-blue);

}

.team,
.age {
=======
.team,.age{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: var(--second-yellow);
    margin-bottom: 10px !important;
    font-weight: 600;
}
<<<<<<< HEAD

.age {
=======
.age{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: 10px !important;
}


/* progs_catalog */
<<<<<<< HEAD
.progs_catalog {
    padding-top: 200px;
    padding-bottom: 5px;
}

.progs_catalog_body {
=======
.progs_catalog{
    padding-top: 200px;
    padding-bottom:5px;
}

.progs_catalog_body{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    height: 540px;
    width: 85%;
    margin-left: auto;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
}
<<<<<<< HEAD

.catalog_label_way {
=======
.catalog_label_way{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    left: -15%;
    background-color: #fff;
    width: 15%;
    height: 28%;
    color: var(--second-blue);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
<<<<<<< HEAD

.catalog_label_way#design {
    top: 35%;
}

.catalog_label_way#market {
    top: 65%;
}

.way_label_img {
    height: 60px;
    margin-top: 30px;
}

.way_label_text {
    color: var(--second-blue);
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}

.catalog_label_age {
    transition: 0.3s;
=======
.catalog_label_way#design{
    top:35%;
}
.catalog_label_way#market{
    top:65%;
}
.way_label_img{
    height: 60px;
    margin-top:30px ;
}
.way_label_text{
    color: var(--second-blue);
    font-weight: 700;
    font-size: 24px;
    margin-top:10px;
}
.catalog_label_age{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    left: 23%;
    background-color: #fff;
    width: 25%;
    height: 10%;
    color: var(--main-blue);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: -10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-blue);
    font-size: 22px;
    font-weight: 700;
    user-select: none;
}
<<<<<<< HEAD

.catalog_label_age#child {
    left: 49%;
}

.catalog_content {
=======
.catalog_label_age#child{
    left: 49%;
}
.catalog_content{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    padding-top: 30px;
    height: 100%;
    vertical-align: top;
}
<<<<<<< HEAD

.catalog_course_title {
    color: var(--second-blue);
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s;
}

.catalog_course_title::after {
=======
.catalog_course_title{
    color: var(--second-blue);
    text-transform: capitalize;
    font-size:30px;
    font-weight: 700;
}
.catalog_course_title::after{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    display: block;
    width: 85%;
    height: 2px;
    background-color: aqua;
    margin-top: 10px;
}
<<<<<<< HEAD

.catalog_course_subtitle {
=======
.catalog_course_subtitle{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    color: var(--second-blue);
    font-size: 22px;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 35px;
<<<<<<< HEAD
    transition: 0.3s;

}

.catalog_course_text {
    color: #000;
    font-size: 18px;
    transition: 0.3s;
}

.catalog_course_list {
=======
}
.catalog_course_text{
    color: #000;
    font-size: 18px;

}
.catalog_course_list{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    margin-top: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
}
<<<<<<< HEAD

.catalog_course_detail {
    color: #000;
    font-size: 15px;
    line-height: 35px;
    transition: 0.3s;
}

.catalog_course_detail img {
    margin-top: -4px;
    height: 15px;
    margin-right: 15px;
    transition: 0.3s;
}

.catalog_enroll_button {
    background-color: var(--second-blue);
    border-radius: 50px;
}

.catalog_page_buttons {
=======
.catalog_course_detail{
    color: #000;
    font-size: 15px;
    line-height: 35px;
}
.catalog_course_detail img{
    margin-top:-4px;
    height: 15px;
    margin-right: 15px;
}
.catalog_enroll_button{
    background-color:var(--second-blue);
    border-radius: 50px;
}
.catalog_page_buttons{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 50px;
}
<<<<<<< HEAD

.catalog_page_button {
    background-color: var(--second-blue);
=======
.catalog_page_button{
    background-color:var(--second-blue);
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    padding: 0;
    border-radius: 50px;
    width: 50px;
}
<<<<<<< HEAD

.catalog_page_button:hover {
    background-color: var(--main-yellow) !important;
}

.catalog_boy {
    height: 100%;
    border-radius: inherit;
}

.last_supper {
    display: none;
}

.catalog_arrow {
=======
.catalog_boy{
    height: 100%;
    border-radius: inherit;
}
.catalog_arrow{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    height: 160px;
    width: 160px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left: 5px dashed #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
<<<<<<< HEAD
    top: -180px;

    /* background-color: red; */
}

.catalog_arrow:before {
=======
    top:-180px;

    /* background-color: red; */
}
.catalog_arrow:before{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    width: 15px;
    height: 5px;
    background-color: #fff;
    bottom: 19px;
    left: 7px;
    transform: rotate(0deg);
}
<<<<<<< HEAD

.catalog_arrow:after {
=======
.catalog_arrow:after{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    content: '';
    position: absolute;
    width: 15px;
    height: 5px;
    background-color: #fff;
    bottom: 24px;
    left: 12px;
    transform: rotate(90deg);
}
<<<<<<< HEAD

#first_arrow {
    transform: rotate(45deg);
    left: calc(50% - 150px);
}

#first_arrow .arrow_descript {
    font-size: 17px;
=======
#first_arrow{
    transform: rotate(45deg);
    left: calc(50% - 150px);
}
#first_arrow .arrow_descript{
    font-size:17px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    display: inline-block;
    top: -65px;
    left: -40px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    transform: rotate(-45deg);
}
<<<<<<< HEAD

#second_arrow {
    transform: scaleX(-1) rotate(45deg);
    right: calc(50% - 120px);
}

#third_arrow {
    transform: rotate(30deg);
    top: -100px;
    left: -80px;
}

#third_arrow .arrow_descript {
    font-size: 17px;
=======
#second_arrow{
    transform: scaleX(-1) rotate(45deg);
    right: calc(50% - 120px);
}
#third_arrow{
    transform:rotate(30deg);
    top:-100px;
    left: -80px;
}
#third_arrow .arrow_descript{
    font-size:17px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    display: inline-block;
    top: -50px;
    left: -40px;
    width: 130px;
    text-align: center;
    font-weight: 600;
    transform: rotate(-30deg);
}

<<<<<<< HEAD
.faq_card {
    margin-top: 40px;
=======
.faq_card{
    margin-top:40px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    background-color: #fff;
    color: var(--main-blue);
    border-radius: 20px;
    padding: 20px;
    position: relative;
<<<<<<< HEAD
    /*pointer-events: none;*/
    transition: 0.3s;
}

.faq_card::before {
    content: '+';
=======
    pointer-events: none;
    transition: 0.3s;
}
.faq_card::before{
    content:'+';
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 30px;
<<<<<<< HEAD
    /*pointer-events: all;*/
}

.faq_card::after {
    content: '';
=======
    pointer-events: all;
}
.faq_card::after{
    content:'';
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    position: absolute;
    left: -30px;
    top: 10px;
    height: 80px;
    width: 100%;
    border-radius: 20px;
<<<<<<< HEAD
    z-index: -1;
    background-color: var(--main-yellow);
}

.faq_card_title {
=======
    z-index:-1;
    background-color: var(--main-yellow);
}
.faq_card_title{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    font-weight: 600;
    font-size: 20px;
    user-select: none;
}
<<<<<<< HEAD

.faq_card_body {
=======
.faq_card_body{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    transform-origin: top;
    transform: scaleY(0);
    transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    height: 0;
    /* background-color: red; */
    box-sizing: border-box;
    user-select: none;

}
<<<<<<< HEAD

.faq_card[data-open='true'] .faq_card_body {
    transform: scaleY(1);
    height: auto;
=======
.faq_card[data-open='true'] .faq_card_body{
    transform: scaleY(1);
    height: 175px;
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
    padding-top: 40px;

    display: block;
}



<<<<<<< HEAD
/* service */

.service_particles{
    z-index: -1;
}

.services_blop#blop2{
    right: 450px;
    top: 400px;
}

.services_blop#circule_blop{
    top:130px;
    right: 170px;
}

.service_flow_diagram {
    margin: 0 60px;
}

.service_flow_heading {
    text-align: center;
}

.service_flow_diagram {
    position: relative;
    width: 100%;
    height: 840px;
}

.diagram_card {
    /* margin-top: 50px; */
    width: fit-content;
    height: 200px;
    position: absolute;
}

.diagram_card:nth-of-type(1) {
    top: 40%;
    left: 0;
}

.diagram_card:nth-of-type(2) {
    top: 10%;
    left: 25%;

}

.diagram_card:nth-of-type(3) {
    top: 10%;
    right: 25%;

}

.diagram_card:nth-of-type(4) {
    top: 40%;
    right: 0;

}

.diagram_card_head {
    position: relative;
    /* padding-top: 20px; */
    display: flex;
    align-items: center;
    background: var(--main-gradient);
    width: 180px;
    height: 120px;
    border-radius: 15px;
    padding: 10px 25px 10px 25px;
    transition: 0.25s;
    transform: translateX(15px) translateY(-25px);
    box-shadow: -5px 5px 50px 1px #333;
    z-index: 2;
}

.diagram_card:hover .diagram_card_head {
    box-shadow: 0px 0px 20px 1px #ffa;
}

.diagram_card_list {
    margin: 0;
    padding: 0;
}

.diagram_card_task::before {
    content: '- '
}

.diagram_card_task {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 7px;
}

.diagram_card_task:last-of-type {
    margin-bottom: 0;
}

.diagram_card_body {
    position: relative;
    background-color: #fff;
    color: gray;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    padding: 110px 20px 30px 20px;
    transform: translateX(-10px) translateY(-110px);
    z-index: 1;
    transition: 0.25s;
    box-shadow: -5px 5px 50px 1px #333;
}

.diagram_card_stage {
    font-size: 16px;
    transition: 0.25s;
    color: var(--second-blue);
    font-weight: 600;
}

.diagram_card_icon {
    margin-right: 10px;
}

.diagram_device {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 120px
}

.diagram_device_content {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.diagram_device_phone {
    position: absolute;
    bottom: -40px;
    right: 45px;
}

.diagram_circle {
    position: absolute;
    top: 20%;
    bottom: 19%;
    left: 17%;
    right: 17%;
    border-radius: 50%;
    border: 4px dashed #fff;
    z-index: -1;
    transform: scaleY(-1);
}

.case_title {
    font-weight: 700;
    margin-bottom: 20px;
}

.case_description::before {
    content: '-';
    margin-right: 20px;
}

.case_title span {
    color: var(--main-yellow)
}

.case_description {
    font-size: 16px;
}

.case_view {
    text-align: center;
    padding-top: 40px;
}

.case_img {
    position: relative;
    margin-bottom: 20px;
}

.case_img_shape {
    height: 190px;
}

.case_img_content {
    transform: translate(-50%);
    position: absolute;
    height: 165px;
    width: 250px;
    top: 15px;
    left: 50%;
    z-index: -1;
}

.case_img_content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.case_img_content::before {
    content: '';
    background-color: var(--main-blue);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
    transition: 0.3s;
}

.case_img:hover .case_img_content::before {
    opacity: 0;
}

.case_img_phone {
    height: 250px;
}

.case_link {
    color: var(--second-blue);
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .catalog_page_buttons {
        margin-left: auto;
    }
}

@media (max-width: 1200px) {
    .diagram_device {
        bottom: 80px;
    }

    .diagram_device img {
        transform: scale(0.8);
    }

    img.diagram_device_content {
        transform: translate(-50%) scale(0.8);
    }

    .diagram_device_phone {
        bottom: -15px;
        right: 80px;
    }

    .diagram_card:nth-of-type(2) {
        left: 23%;
    }

    .diagram_card:nth-of-type(3) {
        right: 23%;
    }

    .case_img_shape {
        height: 157px;
        /* width: 200px; */
    }

    .case_img_content {
        height: 140px;
        width: 220px;
        top: 12px;
    }

    .case_img_phone {
        height: 200px;
    }
}

@media (max-width: 991px) {
    .navbar .nav-link{
        display: inline-block;
        padding: 5px 10px;
    }


    .service_flow_diagram {
        height: 500px;
    }

    .diagram_device {
        display: none;
    }

    .diagram_card:nth-of-type(1) {
        top: 65%;
    }

    .diagram_card:nth-of-type(2) {
        top: 10%;
        left: 10%;
    }

    .diagram_card:nth-of-type(3) {
        top: 10%;
        right: 10%;
    }

    .diagram_card:nth-of-type(4) {
        top: 65%;
    }

    .diagram_circle {
        top: 20%;
        bottom: 10%;
        left: 15%;
        right: 15%;
    }

    .case_img_shape {
        height: 145px;
    }

    .case_img_content {
        height: 130px;
        width: 200px;
        object-fit: cover;
        top: 10px;
    }

    .case_img_phone {
        height: 170px;
    }
}

@media (max-width: 767px) {
    .progs_catalog_body {
        height: 670px;
        width: 90%;
        padding-right: 0;
        padding-left: 20px;
    }

    .catalog_content {
        width: auto;
        height: auto;
        margin-top: 120px;
        /* margin-left: 30px;
        margin-right: 30px; */
    }

    .catalog_course_subtitle {
        margin-bottom: 7px;
    }

    .catalog_course_hud {
        position: absolute;
        bottom: 30px;
    }

    .catalog_page_buttons {
        margin-bottom: 0;
        margin-left: 0;
    }

    .catalog_arrow {
        display: none;
    }

    .catalog_label_age {
        display: none;
    }

    .catalog_label_way {
        width: 10%;
        left: -10%;
    }

    .way_label_img {
        display: none;
    }

    .way_label_text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-left: 10px;
    }

    .catalog_boy {
        display: none;
    }

    .last_supper {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}



@media(max-width: 760px) {
    h2 {
        font-size: 20px !important;
    }

    .btn_block * {
        padding: 0;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-brand img {
        height: 70px;
    }

    .navbar_numbers {
        margin-left: 0;
    }

    .text-main {
        font-size: 22px;
    }

    .laptop_girl {
=======

@media(max-width: 760px){
    h2{
        font-size: 20px !important;
    }
    .btn_block *{
        padding:0;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .navbar-brand img{
        height: 70px;
    }
    .navbar_numbers{
        margin-left: 0;
    }
    .text-main{
        font-size:22px;
    }
    .laptop_girl{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        top: 280px;
        right: -180px;
        height: 150px;
    }
<<<<<<< HEAD

    .navbar-collapse {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .navbar-collapse * {
=======
    .navbar-collapse{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .navbar-collapse *{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        flex-grow: 0;
        flex-shrink: 0;
        text-align: right;
    }
<<<<<<< HEAD

    .navbar-nav {
        margin: 0;
    }

    .navbar-nav li {
        margin: 0 !important;
    }

    .course_card {
=======
    .navbar-nav{
        margin:0;
    }
    .navbar-nav li{
        margin:0 !important;
    }
    .course_card{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        height: 205px;
        width: 310px;
        transform: translateX(15px) translateY(-25px);
        padding-top: 20px;
    }
<<<<<<< HEAD

    .course_card img {
        height: 145px;
    }

    .course_text {
=======
    .course_card img{
        height: 145px;
    }
    .course_text{
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
        width: 310px;
        height: 310px;
        padding: 140px 45px 30px 80px;
        transform: translateX(-10px) translateY(-140px);
    }
<<<<<<< HEAD

    .course_text_icon {
        /* left: -30px !important; */
    }

    .course_main_text {
        font-size: 19px;
    }
}

@media (max-width:576px) {
    .catalog_course_text {
        font-size: 14px;
    }

    .catalog_course_detail {
        font-size: 12px;
    }

    .catalog_course_detail img {
        margin-right: 0;
    }
}

@media (max-width:466px) {
    .catalog_course_hud {
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .catalog_page_buttons {
        order: 1;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .catalog_enroll_button {
        order: 2;
        width: 76%;
    }

=======
    .course_text_icon{
        /* left: -30px !important; */
    }
>>>>>>> 95fb2f6d9db3ba68a3ef6b02c5d212208fb09f7f
}