{% load static %}
<footer class="wow d-none d-md-block animate__fadeInDown" data-wow-duration="2s" data-wow-delay="" data-wow-offset="10"
    data-wow-iteration="1">
    <div class="container">
        <hr style="background-color: #513b7e;">
        <div class="row justify-content-between">
            <div class="col-2">
                <p class="team">Команда</p>
                <img src="{% static 'img/logo.svg' %}" alt="logo">
                {% now "Y" as year %}
                <p class="age">1999-{{year}}</p>
            </div>
            <div class="col-2 offset-2">
                <p class="footer_headings">О нас</p>
                <ul class="about">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                    <li><a href="#">Скачать прайс</a></li>
                </ul>
            </div>
            <div class="col-2">
                <p class="footer_headings">Услуги</p>
                <ul class="about">
                    <li><a href="{% url 'course' %}#mature">Для детей</a></li>
                    <li><a href="{% url 'course' %}#mature">взрослых</a></li>
                    <li><a href="{% url 'services' %}">Разработка сайтов</a></li>
                    <li><a href="{% url 'services' %}">Приложения</a></li>
                </ul>
            </div>
            <div class="col-2">
                <p class="footer_headings">График работы</p>
                <ul class="about">
                    <li>Пн-Пт</li>
                    <li>9:00-19:00</li>
                    <li>Сб-Вс</li>
                    <li>9:00-18:00</li>
                </ul>
            </div>
        </div>
    </div>
</footer>